.applied-scholarships-box {
  background-color: #1a202c;
  color: #edf2f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.applied-scholarships-box h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scholarship-card {
  background-color: #2d3748;
  color: #edf2f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.scholarship-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.scholarship-card p {
  margin: 5px 0;
}

.icon {
  margin-right: 10px;
  color: #63b3ed;
  font-size: 1.2em;
}

.no-scholarships-message {
  color: #cbd5e0;
  font-size: 1.2em;
}

.error-message {
  color: #e53e3e;
  font-size: 1.2em;
}

.loading-message {
  color: #63b3ed;
  font-size: 1.2em;
}
