.register-container {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 160px);
  padding: 40px 20px;
  max-width: 1200px; /* Added max-width to container */
  margin: 0 auto; /* Center the container */
}

.register-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px; /* Reduced padding */
  background-color: #ffffff;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 2.2em; /* Reduced font size */
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
}

.register-subtitle {
  font-size: 1.1em; /* Reduced font size */
  color: #34495e;
  margin-bottom: 20px; /* Reduced margin */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px; /* Reduced margin */
}

.form-label {
  font-size: 1.1em; /* Reduced font size */
  color: #2c3e50;
  margin-bottom: 8px; /* Reduced margin */
}

.form-input {
  padding: 12px; /* Reduced padding */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em; /* Reduced font size */
  color: #2c3e50;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
  outline: none;
}

.register-button {
  background-color: #3498db;
  color: #fff;
  font-size: 1.2em; /* Reduced font size */
  padding: 12px 25px; /* Reduced padding */
  border-radius: 25px; /* Adjusted border radius */
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 15px; /* Reduced margin */
}

.register-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(41, 128, 185, 0.3);
}

.register-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.register-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 12px 12px 0;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .register-content,
  .register-image-container {
    max-width: 100%;
  }

  .register-image {
    margin-top: 20px;
    height: auto;
    border-radius: 12px;
  }
}
